html {
  scrollbar-color: orange transparent;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 14pt;
  background-color: #292929;
  box-sizing: content-box;
}

body {
  display: block;
  position: relative;
}

#seed {
  margin-left: 200px;
  /*
  position: fixed;
  left: 0.25em;
  top: 0.25em;
  */
  font-family: monospace;
}

.page {
  box-sizing: border-box;
  margin: 0 auto 15px auto;
  padding: 10px;
  overflow-y: hidden;
  overflow: hidden;

  position: relative;
  width: 600px;
  max-width: 100%;
  aspect-ratio: 600/850;
}

.page * {
  z-index: 1;
  position: relative;
}

.page img {
  width: 100%;
}

#page-01 {
  margin-top: 15px;
  position: relative;
  color: rgb(250, 216, 182);
}


#page-01 canvas, .page .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100% !important;
  height: 100% !important;
}

#page-02 {
  background-color: rgb(163, 67, 81);
  background: linear-gradient(180deg, rgba(255,255,255,1) 9%, rgba(255,133,105,1) 75%, rgba(232,255,0,1) 100%);
}

.full-table {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#page-03 {
  background-color: rgb(18, 38, 43);
  color: rgb(250, 216, 182);
  color: rgba(0, 0, 0, 1.0);
}

#page-03 p {
  font-weight: bold;
  line-height: 150%;
  font-size: 200%;
  user-select: none
}

#page-02 table {
  width: 100%;
  height: 100%;
}

#page-04 {
  background: linear-gradient(180deg, rgba(255,162,229,1) 33%, rgba(255,201,161,1) 71%, rgba(0,253,255,1) 100%);
}

#page-05, #page-08 {
  background-color: black;
  color: rgb(250, 216, 182);
}

#page-06 {
  color: rgba(0, 0, 0, 1.0);
  background: rgb(19,13,17);
  background: linear-gradient(180deg, rgba(19,13,17,1) 88%, rgba(255,187,161,1) 98%, rgba(168,242,255,1) 100%);
  background: linear-gradient(180deg, rgba(19,13,17,1) 0%, rgba(255,187,161,1) 54%, rgba(168,242,255,1) 100%);
}

#page-07 {
  background-color: white;
  text-align: center;
  background: linear-gradient(180deg, rgba(255,255,255,1) 14%, rgba(246,255,161,1) 71%, rgba(0,253,255,1) 100%);
}

#sudoku {
  table-layout: fixed;
  width: 433px;
  height: 433px;
  border: solid 2px black;
  margin: 0 auto;
}

table.subgrid {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

#sudoku, table.subgrid {
  border-collapse: collapse;
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#sudoku td, tr {
  padding: 0;
}

#sudoku td.big {
  border: solid 1px black;
  padding: 0;
  margin: 0;
}

#sudoku table.subgrid {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
#sudoku td.small {
  width: 33%;
  height: 33%;
  border: solid 1px black;
  padding: 0;
  margin: 0;
}

.sudoku-entry:active:focus,
.sudoku-entry:active,
.sudoku-entry:focus,
.sudoku-entry {
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  border-width: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 28px;
}

